@import "tailwindcss";

@theme {
  --color-tecnova-dark: #0a0a0a;
  --color-tecnova-neon: #F31333;
  --color-tecnova-card: #210606;
  --color-tecnova-primary: #E60000;

  --color-background: var(--color-tecnova-dark);
  --color-foreground: #f8fafc;
}

@layer base {
  body {
    background-color: var(--color-background);
    color: var(--color-foreground);
    font-family: 'Inter', ui-sans-serif, system-ui, sans-serif;
  }
}

* {
  border-color: rgba(255, 255, 255, 0.1);
}

/* Custom Scrollbar for better UI */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: var(--color-tecnova-dark);
}

::-webkit-scrollbar-thumb {
  background: #2a3a4a;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--color-tecnova-neon);
}

